# ===========================
# Environment
# ===========================
.env
.env.*
!.env.example

# ===========================
# IDE
# ===========================
.vscode/
.idea/

# ===========================
# OS
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Go
# ===========================
backend/bin/
coverage.out

# ===========================
# Flutter
# ===========================
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies